@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap');

/* General Body Styling */
*{
    scroll-behavior: smooth;
}
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #fff;
}

/* Form Styling */
.form-container {
    margin-bottom: 10rem;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    top: 50vh;
    width: 500px;
    background: linear-gradient(#000000, #0e0b1c) padding-box,
                linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
}

.form-container .formTitle {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-container .form-group label {
    font-size: 1rem;
    color: #9f9f9f;
}

.form-container .form-group input {
    padding: 12px;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid #414141;
    color: #fff;
}

.form-container .form-group input:focus {
    outline: none;
    border-color: #e81cff;
}

.form-container .form-submit-btn-row {
    display: flex;
    justify-content: center;
}

.form-container .form-submit-btn-row .full-width {
    width: 100%;
    text-align: center;
    padding: 12px;
    border-radius: 6px;
    background: #09597e;
    color: #dcdcdc;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.form-container .form-submit-btn-row .full-width:hover {
    background-color: #fff;
    color: #000;
    border-color: #fff;
}

.form-container .form-submit-btn-set {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.form-container .form-submit-btn-set .half-width {
    width: 48%;
    text-align: center;
    padding: 12px;
    border-radius: 10px;
    background: #00d000;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.form-container .form-submit-btn-set .half-width:hover {
    background-color: #fff;
    color: #000;
    border-color: #fff;
}
.form-container .stop {
    width: 48%;
    text-align: center;
    padding: 12px;
    border-radius: 10px;
    background: #e20000;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.form-container .stop:hover{
    background-color: #fff;
    color: #000;
    border-color: #fff;
}
/* System Logs Styling */

.logtitle{
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}
.system-logs-container {
    left: 50%;
    transform: translate(-50% );
    position: relative;
    width: 600px;
    border:none;
    border-radius: 8px;
    padding: 20px;
    height: 500px;
    overflow-y: auto;
    background: linear-gradient(#000000, #1c1c1c);          
    color: #fff;
    margin: 20px 0;
}

.system-logs-container p {
    margin: 8px 0;
    color: #a3a3a3;
}
